.arme{
    display: inline-block;
    vertical-align:bottom;
}

.butonDa{
    background-color:aquamarine;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
};

.butonNu{
    background-color:rgb(204, 53, 53);
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
};

.arma-aleasa{
    color:rgb(14, 53, 120);
};